@use 'variables'

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: variables.$font-stack

body
    background: url("/Background.png")
    background-repeat: no-repeat
    background-size: cover
    background-color: variables.$bg-color

*::-webkit-scrollbar
    width: 5px

*::-webkit-scrollbar-track
    background: none

*::-webkit-scrollbar-thumb
    background-color: #1db57e
    border-radius: 50px

html
    scroll-behavior: smooth
