@use '../../styles/variables'
@use '../../styles/mixin'

.Inicio
    display: flex
    align-items: center
    @include mixin.breakpoint(mobileL)
        justify-content: flex-start

.firstDiv
    display: flex
    width: 46rem
    height: 35rem
    align-items: center
    position: relative
    z-index: -1

.picture
    position: absolute
    z-index: 0
    width: 80rem
    bottom: -245px
    transition: 0.5s

    @include mixin.breakpoint(laptopI)
        display: none

    @include mixin.breakpoint(laptopS)
        display: none
        transition: 0.5s

    @include mixin.breakpoint(laptopM)
        width: 70rem
        transition: 0.5s

.allignContent
    border: solid 3px solid
    width: 50rem
    display: flex
    align-items: center
    gap: 2rem
    transition: 0.5s

    @include mixin.breakpoint(laptopS)
        display: flex
        width: 350rem
        transition: 0.5s

    @include mixin.breakpoint(mobileL)
        display: flex
        width: 100rem

    @include mixin.breakpoint(laptopI)
        width: 380rem

    @include mixin.breakpoint(mobileL)
    margin-right: 2.5rem

.title
    width: 17.5rem
    font-size: 2.25rem
    font-weight: 500
    letter-spacing: 0.2925rem
    color: variables.$text-color
    @include mixin.breakpoint(mobileL)
        padding-bottom: 0.5rem

.strong
    background: linear-gradient(177deg, #1DB57E -13.8%, #860DFF 98.65%)
    background-clip: text
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

.subtitle
    font-size: 1.125rem
    font-weight: 500
    color: variables.$text-color-thirdy

.contactDownload
    height: 15rem
    display: flex
    flex-direction: column
    justify-content: space-around
    transition: 0.5s ease-in-out

    @include mixin.breakpoint(mobileL)
        display: flex
        justify-content: center
        align-items: center
        height: 18rem
        transition: 0.5s ease-in-out
        p
            width: 15rem
            display: flex
            justify-content: center
            align-items: center
            text-align: center
        h1
            text-align: center

.spline
    padding-top: 20px
    transition: 0.5s ease-in-out

    @include mixin.breakpoint(mobileL)
        display: none

.allignBtn
    transition: 0.5s ease-in-out
    @include mixin.breakpoint(mobileL)
        width: 9.3rem
        height: 20rem
        display: flex
        justify-content: space-evenly
        flex-direction: column
        flex-wrap: wrap
        transition: 0.5s

.btn
    margin-right: 1.5rem
    font-size: 0.875rem
    font-weight: 600
    color: variables.$bg-color
    cursor: pointer
    transition: 0.5s ease-in-out
    @include mixin.btn

.btn:hover
    background-color: #24e49d
    transition: 0.5s ease-in-out

.contact
    font-size: 0.875rem
    font-weight: 500
    color: variables.$text-color
    cursor: pointer
    transition: 0.5s ease-in-out
    @include mixin.btn2

.contact:hover
    background-color: #333
    transition: 0.5s ease-in-out

.SobreMim
    display: flex
    justify-content: center
    align-items: center

.mainGradient
    background: linear-gradient(360deg, rgba(29,181,126,1) 0%, rgba(85,26,210,1) 100%)
    border-radius: 1.8rem
    width: 90vw
    height: 40.375rem
    display: flex
    justify-content: center
    box-shadow: 0px 30px 20px -1px rgba(26,181,126,0.2)
    margin-bottom: 4.5rem

    @include mixin.breakpoint(tablet)
        width: 40vw
        height: 40.1rem

    @include mixin.breakpoint(laptopS)
        width: 60vw

    @include mixin.breakpoint(laptopM)
        width: 78vw
        height: 40.2rem

    @include mixin.breakpoint(laptopL)
        width: 84vw

    @include mixin.breakpoint(mobileM)
        width: 170vw

.mainBackground
    background-color: #101010
    border-radius: 1.8rem
    width: 89.6vw
    height: 39.99rem
    display: flex
    justify-content: center
    align-items: center
    transition: 0.5s ease-in-out

    @include mixin.breakpoint(tablet)
        width: 40vw
        transition: 0.5s ease-in-out

    @include mixin.breakpoint(laptopM)
        width: 78vw
        transition: 0.5s ease-in-out

    @include mixin.breakpoint(laptopL)
        width: 83.6vw
        transition: 0.5s ease-in-out

    @include mixin.breakpoint(mobileM)
        width: 99vw

.containDescription
    transition: 0.5s ease-in-out

    @include mixin.breakpoint(tablet)
        transition: 0.5s ease-in-out

    @include mixin.breakpoint(laptopS)
        transition: 0.5s ease-in-out
        display: flex
        flex-wrap: wrap

    @include mixin.breakpoint(laptopM)
        transition: 0.5s ease-in-out

    h2
        color: variables.$text-color
        font-size: 2rem
        font-weight: 700
        display: flex
        justify-content: center

        @include mixin.breakpoint(laptopS)
            font-size: 1.5rem
            display: flex
            justify-content: center
            align-items: center

        @include mixin.breakpoint(tablet)
            font-size: 1.5rem

    p
        display: flex
        width: 36.5rem
        font-size: 1.125rem
        line-height: 2rem
        font-weight: 400
        color: #c3c3c3
        gap: 1.6rem
        margin-top: 1.81rem

        @include mixin.breakpoint(laptopS)
            width: 33rem
            font-size: 1rem

        @include mixin.breakpoint(tablet)
            width: 36rem
            font-size: 1.2rem
            margin-top: 1.40rem
            display: flex
            justify-content: center
            align-items: center

        @include mixin.breakpoint(mobileL)
            font-size: 1rem
            width: 21.5rem

        @include mixin.breakpoint(mobileM)
            font-size: 0.8rem
            width: 20rem
            text-align: center
            justify-content: center

        @include mixin.breakpoint(mobileS)
            width: 19rem

.circleGradient
    @include mixin.circleGradient
    @include mixin.breakpoint(tablet)
        width: 46px
        height: 46px

.circle
    @include mixin.circleBg
    transition: 0.5s ease-in-out
    img
        transition: 0.5s ease-in-out

    @include mixin.breakpoint(tablet)
        width: 44px
        height: 44px

    img
        @include mixin.breakpoint(tablet)
            width: 1.7rem

.circle:hover
    background-color: transparent
    transition: 0.5s ease-in-out
    transform: rotate(360deg)
    img
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(128deg) brightness(210%) contrast(95%)
        transition: 0.5s ease-in-out

.alignCircle
    padding: 1rem
    padding-top: 2rem
    gap: 2.5rem
    display: flex
    justify-content: center
    flex-wrap: wrap

    @include mixin.breakpoint(laptopS)
        padding: 0.5rem

    @include mixin.breakpoint(tablet)
        font-size: 0.8rem
        gap: 1.5rem
        margin-top: 3rem

.personagem
    width: 40.25rem
    height: 40.25rem
    transition: 0.5s ease-in-out

    @include mixin.breakpoint(laptopS)
        width: 25.25vw
        height: 25.25vw
        transition: 0.5s ease-in-out
        position: relative
        z-index: 0
        display: none

    @include mixin.breakpoint(laptopI)
        display: none

    @include mixin.breakpoint(laptopM)
        width: 30vw
        height: 30vw

    @include mixin.breakpoint(laptopL)
        width: 40vw
        height: 40vw

    @include mixin.breakpoint(tablet)
        display: none

.description
    @include mixin.breakpoint(tablet)
    @include mixin.breakpoint(mobileS)
        display: flex
        align-items: center
        flex-direction: column
        justify-content: center

.thirdySection
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    margin-top: 4.5rem
    h2
        color: variables.$text-color
        font-weight: 700
        font-size: 2rem

        @include mixin.breakpoint(tablet)
            font-size: 1.7rem

.alignCard
    display: flex
    justify-content: center
    gap: 2.81rem
    margin-top: 2.06rem
    flex-wrap: wrap
    transition: 0.5s ease-in-out

    @include mixin.breakpoint(tablet)
        flex-wrap: wrap
        transition: 0.5s ease-in-out

    @include mixin.breakpoint(laptopM)
        display: flex
        flex-wrap: wrap
        transition: 0.5s ease-in-out

    @include mixin.breakpoint(laptopL)
        flex-wrap: wrap
        transition: 0.5s ease-in-out

    @include mixin.breakpoint(laptopS)
        flex-wrap: wrap
        transition: 0.5s ease-in-out

.backgroundGradient
    @include mixin.backgroundGradient
    display: flex
    justify-content: center
    h4
        color: variables.$text-color
        font-size: 1.125rem
        font-weight: 500
    p
        color: #828282
        font-size: 0.875rem
        font-weight: 400

    @include mixin.breakpoint(mobileM)
        width: 22.9rem
    @include mixin.breakpoint(mobileS)
        width: 20rem

.backgroundBlack
    @include mixin.backgroundBlack
    padding-left: 1.56rem
    padding-top: 1.25rem
    @include mixin.breakpoint(mobileM)
        width: 22.7rem
    @include mixin.breakpoint(mobileS)
        width: 19.8rem

.backgroundProject
    @include mixin.backgroundProject
    @include mixin.breakpoint(mobileM)
        width: 18rem
    @include mixin.breakpoint(mobileS)
        width: 15rem

.alignText
    margin-top: 0.80rem
    height: 3.5rem
    width: 15rem
    display: flex
    justify-content: space-around
    flex-direction: column

.verMais
    @include mixin.btn2
    background: none
    color: variables.$text-color
    cursor: pointer
    margin-top: 2rem
    transition: 0.5s ease-in-out

.verMais:hover
    background: variables.$text-color-secondary
    transition: 0.5s ease-in-out
    border: none
    transform: scale(1.02)

.allignButton
    display: flex
    justify-content: end
    padding-right: 9.44rem
    @include mixin.breakpoint(laptopM)
        padding-right: 0rem
        justify-content: center

.gradientCard
    @include mixin.backgroundGradient
    width: 25.2rem
    height: 17rem
    border-radius: 0.625rem 0.625rem 0rem 0rem
    display: flex
    justify-content: center
    @include mixin.breakpoint(mobileM)
        width: 22rem
    @include mixin.breakpoint(mobileS)
        width: 19.9rem

.blackCard
    @include mixin.backgroundBlack
    width: 24.875rem
    height: 16.6rem
    display: flex
    align-items: center
    padding-left: 1.87rem
    h3
        color: #828282
        font-size: 2rem
        font-weight: 500
        padding-top: 2.5rem
        width: 8.187rem

    @include mixin.breakpoint(mobileM)
        width: 21.8rem
    @include mixin.breakpoint(mobileS)
        width: 19.6rem

.quarterSection
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    margin-top: 7.12rem
    h2
        color: variables.$text-color
        font-weight: 700
        font-size: 2rem

        @include mixin.breakpoint(tablet)
            font-size: 1.7rem

.alignService
    display: flex
    justify-content: center
    gap: 2.81rem
    margin-top: 2.06rem

    @include mixin.breakpoint(laptopM)
        flex-wrap: wrap

.fifithSection
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    margin-top: 9.12rem
    h2
        color: variables.$text-color
        font-weight: 700
        font-size: 2rem

        @include mixin.breakpoint(tablet)
            font-size: 1.7rem

.backgroundgradientIcon
    @include mixin.backgroundGradient
    background: linear-gradient(360deg, rgba(85,26,210,0.2) 40%, rgba(29,181,126,1) 100%)
    width: 9.625rem
    height: 9.585rem
    display: flex
    justify-content: center
    align-items: center

.backgroundIcons
    @include mixin.backgroundBlack
    width: 9.375rem
    height: 9.375rem
    display: flex
    justify-content: center
    align-items: center

.alignSkills
    display: flex
    justify-content: center
    align-items: center
    gap: 4.06rem
    padding-bottom: 6.56rem
    transition: 0.5s ease-in-out
    width: 100%

    @include mixin.breakpoint(tablet)
        flex-wrap: wrap
        justify-content: center
        transition: 0.5s ease-in-out

    @include mixin.breakpoint(laptopM)
        flex-wrap: wrap
        max-width: 80rem
        margin: 0 auto
        justify-content: space-around
        transition: 0.5s ease-in-out
