@use '../../styles/variables'
@use '../../styles/mixin'

.firstSection
    display: flex
    align-items: center

.firstDiv
    display: flex
    width: 46rem
    height: 35rem
    align-items: center
    position: relative
    z-index: -1

    img
        position: absolute
        z-index: 0
        width: 80rem
        bottom: -245px

.allignContent
    border: solid 3px solid
    width: 50rem
    display: flex
    align-items: center
    gap: 2rem

.title
    width: 17.5rem
    font-size: 2.25rem
    font-weight: 500
    letter-spacing: 0.2925rem
    color: variables.$text-color

.strong
    background: linear-gradient(177deg, #1DB57E -13.8%, #860DFF 98.65%)
    background-clip: text
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

.subtitle
    font-size: 1.125rem
    font-weight: 500
    color: variables.$text-color-thirdy

.contactDownload
    height: 15rem
    display: flex
    flex-direction: column
    justify-content: space-around

.spline
    padding-top: 20px

.btn
    margin-right: 0.94rem
    font-size: 0.875rem
    font-weight: 500
    color: variables.$bg-color
    cursor: pointer
    transition: 0.5s ease-in-out
    @include mixin.btn

.btn:hover
    background-color: #24e49d
    transition: 0.5s ease-in-out

.contact
    font-size: 0.875rem
    font-weight: 500
    color: variables.$text-color
    cursor: pointer
    transition: 0.5s ease-in-out
    @include mixin.btn2

.contact:hover
    background-color: #333
    transition: 0.5s ease-in-out

.secondSection
    display: flex
    justify-content: center
    align-items: center

.cardMain
    background: url("/cardFundo.png")
    width: 100%
    height: 57.375rem
    background-repeat: no-repeat
    background-size: cover
    display: flex
    justify-content: center
    align-items: center

.containDescription
    width: 50.25rem
    margin-left: 3.87rem
    height: 34.375rem
    padding: 2.88rem
    padding-left: 7rem

    h2
        color: variables.$text-color
        font-size: 2rem
        font-weight: 700
        display: flex
        padding: 0rem 0rem 0rem 14.56rem

    p
        display: flex
        width: 36.5rem
        font-size: 1.125rem
        line-height: 2rem
        font-weight: 400
        color: #c3c3c3
        gap: 1.6rem
        margin-top: 1.81rem

.circleGradient
    @include mixin.circleGradient

.circle
    @include mixin.circleBg
    transition: 0.5s ease-in-out
    img
        transition: 0.5s ease-in-out

.circle:hover
    background-color: transparent
    transition: 0.5s ease-in-out
    transform: rotate(360deg)
    img
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(128deg) brightness(210%) contrast(95%)
        transition: 0.5s ease-in-out

.alignCircle
    padding: 1rem
    padding-top: 2rem
    gap: 2.5rem
    display: flex

.personagem
    width: 50.25rem
    height: 50.25rem
    margin-right: 8rem

.thirdySection
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    margin-top: 4.5rem
    h2
        color: variables.$text-color
        font-weight: 700
        font-size: 2rem

.alignCard
    display: flex
    justify-content: center
    gap: 2.81rem
    margin-top: 2.06rem

.backgroundGradient
    @include mixin.backgroundGradient
    display: flex
    justify-content: center
    h4
        color: variables.$text-color
        font-size: 1.125rem
        font-weight: 500
    p
        color: #828282
        font-size: 0.875rem
        font-weight: 400

.backgroundBlack
    @include mixin.backgroundBlack
    padding-left: 1.56rem
    padding-top: 1.25rem

.backgroundProject
    @include mixin.backgroundProject

.alignText
    margin-top: 0.80rem
    height: 3.5rem
    width: 15rem
    display: flex
    justify-content: space-around
    flex-direction: column

.verMais
    @include mixin.btn2
    background: none
    color: variables.$text-color
    cursor: pointer
    margin-top: 2rem
    transition: 0.5s ease-in-out

.verMais:hover
    background: variables.$text-color-secondary
    transition: 0.5s ease-in-out
    border: none
    transform: scale(1.02)

.allignButton
    display: flex
    justify-content: end
    padding-right: 9.44rem

.gradientCard
    @include mixin.backgroundGradient
    width: 25.2rem
    height: 17rem
    border-radius: 0.625rem 0.625rem 0rem 0rem
    display: flex
    justify-content: center

.blackCard
    @include mixin.backgroundBlack
    width: 24.875rem
    height: 16.6rem
    display: flex
    align-items: center
    padding-left: 1.88rem
    h3
        color: #828282
        font-size: 2rem
        font-weight: 500
        padding-top: 2.5rem
        width: 8.187rem

.quarterSection
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    margin-top: 7.12rem
    h2
        color: variables.$text-color
        font-weight: 700
        font-size: 2rem
