@use '../../styles/variables'
@use '../../styles/mixin'

.header
    height: 10rem
    padding: 0rem 7vw
    display: flex
    justify-content: space-between
    align-items: center
    position: relative
    nav




.menu
    display: none
    background: none
    border: none
    border-top: 3px solid #fff
    cursor: pointer

.menu::before,
.menu::after
    content: ""
    display: block
    width: 30px
    height: 3px
    background: #fff
    margin-top: 5px

.ul
    display: flex
    align-items: center
    gap: 2rem
    height: 100%
    list-style: none


.li
    color: variables.$text-color
    font-size: 1.125rem
    font-weight: 400
    line-height: normal
    text-decoration: none
    cursor: pointer
    position: relative

.li:hover
    color: variables.$text-color-secondary
    transition: 0.3s

.li:after
    content: ""
    position: absolute
    background-color: variables.$text-color-secondary
    height: 3px
    width: 0%
    left: 0
    bottom: -5px
    transition: 0.3s

.li:hover:after
    width: 100%

.logo
    width: 8.5rem
    transition: 0.5s ease-in-out

    @include mixin.breakpoint(laptopS)
    width: 7.5rem
    margin-right: 2.7rem
    transition: 0.5s ease-in-out

    @include mixin.breakpoint(laptopM)
    width: 6.5rem
    transition: 0.5s ease-in-out

    @include mixin.breakpoint(mobileL)
        width: 5.5rem
        transition: 0.5s ease-in-out
        margin-right: 2.7rem
